<html>
    <head>
        <title>Hello Vue!</title>
        <!-- link rel="stylesheet" href="index.css"> -->
    </head>
    <body>
        <div id="root">
            <h1>Complete Tasks</h1>
            <ul>
                <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
            </ul>

            <h2>Incomplete Tasks</h2>
            <ul>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>
            <!-- 
                <h1>
                    {{ reversedMessage }}
                    {{ message.split('').reverse().join('') }}
                </h1>
            -->
            <!-- <h1 v-text="new Date()"></h1> -->
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
            var app = new Vue({
                el: '#root',

                data: {
                    tasks: [
                        { description: 'Go to the store', completed: true },
                        { description: 'Finish screencast', completed: false }
                    ]
                    //message: 'Hello World'
                },

                computed: {
                    incompleteTasks() {
                        return this.tasks.filter(task => ! task.completed);

                        // this.tasks.filter(function (task) {
                        //     return ! task.completed;
                        // })
                    }
                    // reversedMessage() {
                    //     return this.message.split('').reverse().join('');
                    // }
                }
            })
            
        </script>
        <!-- <script src="index.js"></script> -->
    </body>
</html>